.container {
    margin          : 0 auto;
    background-color: lightgray;
    max-width:1000px;
}

img {
    display      : block;
    width        : 100vh;
    margin       : 0 auto;
    margin-top:1%;
    border-radius: 15px;
}

footer {
    background-color:lightgray;    
    p {
        font-size: .5rem;
        text-align:center;
        padding:30px;
        border-top:1px solid gray;
    }
}