header {
    text-align: center;

    nav {
        padding        : 1%;
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;
        max-width      : 750px;
        margin         : 0 auto;
    }

    nav .logo {
        max-width    : 125px;
        border-radius: 15px;
    }

    nav a {
        padding         : 2%;
        border          : 2px solid @white;
        border-radius   : 15px;
        background-color: @maygreen;
        color           : @white;

        &:hover {
            .hover
        }
    }

    div .btn {
        width           : 45px;
        background-color: @maygreen;
        border          : 2px solid @white;
        color           : @white;
        text-align      : center;
        padding         : 1.5%;
        border-radius   : 15px;

        &:hover {
            .hover
        }
    }

    h1 {
        font-size       : 1rem;
        padding         : 1.5%;
        color           : @jetblack;
        margin          : 0 auto;
        margin-top      : 40px;
        background-color: @maygreen;
        border:2px solid @white;
        width           : 50%;
        border-radius   : 15px;
    }
}

.info {
    display        : flex;
    justify-content: space-between;

    div {
        width:20%;
        text-align: center;
        margin    : 2% auto;
        border:2px solid @white;
        padding:5%;
        border-radius:15px;
        background-color:@maygreen;
        color:@jetblack;
        h2 {
            font-size:1rem;
        }
        p{
            font-size:.75rem;
        }
    }
}