header {
    text-align: center;

    nav {
        padding: 2.5%;
        display: static;

    }

    nav a {
        padding         : 1%;
        margin          : 2%;
        border          : 2px solid white;
        border-radius   : 15px;
        background-color: green;
        color           : white;
        &:hover {.hover}
    }

    div .btn {
        width           : 45px;
        background-color: green;
        border          : 2px solid white;
        color           : white;
        text-align      : center;
        padding         : 1.5%;
        border-radius   : 15px;
        &:hover {.hover}
    }

    h1 {
        font-size:1.5rem;
        padding:15px;
        color:#04724D;
        margin:3% auto;
        background-color:#D5EAD1;
        width:75%;
        border-radius:15px;
    }
}